[Startup]
    ; ### Set the password
    storage_connection_string="Data Source=localhost;Database=opensim;User ID=opensim;Password=***;"

    ; SmartThreadPool is reported to work well on Mono/Linux, but 
    ; UnsafeQueueUserWorkItem has been benchmarked with better
    ; performance on .NET/Windows
    async_call_method = SmartThreadPool
    ; recommended: false for mono / true for Windows
    use_async_when_possible = false

[DatabaseService]
    ; ### Set the password (again)
    ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;"

[Network]
    http_listener_port = 9000

[GridService]
    Region_My_World_1 = "DefaultRegion, FallbackRegion"

[DataSnapshot]
    gridname = "My World"

[LoginService]
    WelcomeMessage = "Welcome!"

    HomeURI = "http://127.0.0.1:9000"
    GatekeeperURI = "http://127.0.0.1:9000"
    InventoryServerURI = "http://127.0.0.1:9000"
    AssetServerURI = "http://127.0.0.1:9000"

[GatekeeperService]
    ExternalName = "http://127.0.0.1:9000"

[GridInfoService]
    login = http://127.0.0.1:9000/
    gridname = "My World"
    gridnick = "hippogrid"
    welcome = http://127.0.0.1:9000/wifi/welcome.html
    register = http://127.0.0.1:9000/wifi/user/account
    password = http://127.0.0.1:9000/wifi/forgotpassword

[WifiService]
    GridName = "My World"
    LoginURL = "http://127.0.0.1:9000"
    WebAddress = "http://127.0.0.1:9000"
	
    ;; The Wifi Administrator account
    AdminFirst = "Wifi"
    AdminLast = "Administrator"
    AdminEmail = "admin@localhost"
    AdminPassword = "secret"

    ;; Do you want to be able to control grid registrations?
    AccountConfirmationRequired = false

    ;; Variables for your mail server
    ;; Users will get email notifications from this account.
    SmtpHost = "smtp.gmail.com"
    SmtpPort = "587"
    SmtpUsername = "your_email@gmail.com"
    SmtpPassword = "secret"
